<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Minics</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet"> <!-- range slider -->

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <%- include('inc/header', { page: "products" }); %>
    <!-- end header section -->
  </div>


  <!-- product section -->

  <section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          <% if(products.length === 0) { %>
            Produto não encontrado!
          <% } else { %>
            Nossos Produtos
          <% } %>
        </h2>
      </div>
      <div class="row">
        <% products.forEach((product) => { %>
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="<%= product.image %>" alt="">
              <a href="" class="add_cart_btn">
                <span>
                  Colocar no Carrinho
                </span>
              </a>
            </div>
            <div class="detail-box">
              <h5>
                <%= product.name %>
              </h5>
              <div class="product_info">
                <h5>
                  <span>R$</span> <%= product.price %>
                </h5>
                <div class="star_container">
                  <% for(let i=0; i < product.stars; i++) { %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <% }; %>
                </div>
              </div>
            </div>
          </div>
        </div>        
        <% }); %>
      </div>
      <% if(products.length === 0) { %>
      <div class="btn_box">
        <a href="/products" class="view_more-link">
          Ver todos os produtos
        </a>
      </div>
      <% } %>
    </div>
  </section>

  <!-- end product section -->

  <!-- info section -->
  <%- include('inc/info'); %>
  <!-- end info_section -->

  <!-- footer section -->
  <%- include('inc/footer'); %>
  <!-- footer section -->

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>


</body>

</html>
