<header class="header_section">
  <div class="header_top">
    <div class="container-fluid">
      <div class="top_nav_container">
        <div class="contact_nav">
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              Telefone : +0 11 4433-2244
            </span>
          </a>
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>
              Email : sac@lojavirtual.com
            </span>
          </a>
        </div>
        <form class="search_form" action="/search">
          <input type="text" name="q" class="form-control" placeholder="Procure aqui...">
          <button class="" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
        <div class="user_option_box">
          <a href="" class="account-link">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>
              Minha Conta
            </span>
          </a>
          <a href="" class="cart-link">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span>
              Carrinho
            </span>
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="header_bottom">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            Loja Virtual
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <li class="nav-item <%if(page == 'home') { %> <%='active'%> <% } %>">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item <%if(page == 'about') { %> <%='active'%> <% } %>">
              <a class="nav-link" href="/about"> Sobre nós</a>
            </li>
            <li class="nav-item <%if(page == 'products') { %> <%='active'%> <% } %>">
              <a class="nav-link" href="/products">Produtos</a>
            </li>
            <li class="nav-item <%if(page == 'why-us') { %> <%='active'%> <% } %>">
              <a class="nav-link" href="/why-us">Por que nos escolher?</a>
            </li>
            <li class="nav-item <%if(page == 'testemonial') { %> <%='active'%> <% } %>">
              <a class="nav-link" href="/testemonial">Depoimentos</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
